
@{
    ViewData["Title"] = "SifreSifirlamaMaileGonderildi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Şifre Sıfırlama İşleminiz E-Posta Adresinize Gönderildi.</h1>
<h2>Lütfen mail adresinizi kontrol ediniz. Mail adresinize gönderilen link üzerinden şifre sıfırlama işlemini gerçekleştirebilirsiniz.</h2>



